<content data-context="ctx-controls">
	<div class="wrapper" style="--wp: url(~/img/rasied-by-wolves.webp);">
		
	</div>
	<div class="controls">
		<span data-click="toggle-play"><i class="icon-play"></i></span>
		<div class="progress">
			<span>1:14</span>
			<div class="track">
				<span class="nob"></span>
			</div>
			<span>3:57</span>
		</div>
		<span data-click="toggle-volume"><i class="icon-volume"></i></span>
		<div class="volume">
			<div class="track">
				<span class="nob"></span>
			</div>
		</div>
		<span data-click="toggle-captions"><i class="icon-cc"></i></span>
		<span data-click="toggle-settings"><i class="icon-cog"></i></span>
		<span data-click="toggle-pip"><i class="icon-pip"></i></span>
		<span data-click="toggle-fullscreen"><i class="icon-expand"></i></span>
	</div>
</content>
