<content data-context="ctx-controls">
	<div class="wrapper" data-wp="1">
		<!-- video player goes here -->
	</div>
	<div class="controls" data-area="controls">
		<div class="wrapper">
			<span data-click="toggle-play"><i class="icon-play"></i></span>
			<div class="progress">
				<span>1:14</span>
				<div class="track" style="--val: 31%;">
					<span class="nob"></span>
				</div>
				<span>3:57</span>
			</div>
			<span data-click="toggle-menu" data-arg="volume">
				<i class="icon-volume"></i>
			</span>
			<span data-click="toggle-menu" data-arg="settings">
				<i class="icon-cog"></i>
			</span>
		</div>
	</div>
</content>
